#a{
    background-color: red;
    font-size: 400%;
    color: white;
}
#boxabove{
    text-align:center;
    padding: 50px 500px 0px 500px;
}
#boxbelow{
    background-color: #b3ffb3;
    margin-top: -18px;
    padding-bottom: 10px;
}
#word{
    padding: 20px 0 15px 0;
}
#qs{
    background-color: #00cc00;
}
